body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: serif;
    color: #101b2c;
    font-size: 1.5em;
}

h1 {
    font-weight: bolder;
    padding-bottom: 0.5em;
    color: #393894;
}

h2 {
    font-weight: 500;
    color: #393894;
    font-size: 2em;
}

.jumbotron {
    background: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px;
}

.jumbotron p.lead {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.jumbotron img {
    max-width: 100%;
}

.btn.btn-start {
    background: rgba(57, 56, 148, 0.9);
    border: 4px solid #393894;
    color: #fff;
    padding: 0.3em;
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    text-transform: uppercase;
    text-decoration: none;
}

.btn.btn-start:hover {
    background: rgba(57, 56, 148, 0.6);
    color: #fff;
}

section {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

section h1{
    color: #ff5300;
}

img {
    max-width: 100%;
}

.color-white {
    color: #fff;
    text-shadow: 3px 3px 10px #393894, -3px 3px 10px #393894, 3px -3px 10px #393894, -3px -3px 10px #393894;
}

.color-grey {
    color: #333;
    text-shadow: 3px 3px 10px #393894, -3px 3px 10px #393894, 3px -3px 10px #393894, -3px -3px 10px #393894;
}

.color-red   {
    color: #393894;
    text-shadow: 3px 3px 10px #333, -3px 3px 10px #333, 3px -3px 10px #333, -3px -3px 10px #333;
}

.snap-header {
    color: #fff;
    background-color: #24345c;
}

.snap-header h1 {
    color: #fff;
    font-size: 3.7em;
}

.snap-header h2 {
    color: #97afc0;
    font-size: 2.3em;
    margin-top: 0em;
}

.bg-grey {
    background-color: #f7f9fa;
}

.container a {
    color: #393894;
    text-decoration: underline;
}

.container a:hover {
    color: #393894;
    text-decoration: none;
}

.center {
    text-align: center;
}

.panel {
    background: rgba(250, 250, 250, 0.65);
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    box-shadow:  1px 1px 12px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(250, 250, 250, 0.5);
}	    

.panel-heading, .panel-footer {
    background: rgba(250, 250, 250, 0.4);
    -webkit-box-shadow: 1px 1px 12px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 12px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 12px rgba(50, 50, 50, 0.5);
}

.panel h2 {
    color: #777;
    font-size: 150%;
    font-weight: 400;
    text-shadow: none;
}

.panel-body img {
    max-width: 80%;
}

/****************** NAVIGATION STYLES *************************/
.navbar {
    background-color: #f7f9fa;
    border: 0px;
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.2) inset;
}

navbar-fixed-top {
    z-index: 1030;
}

.navbar .nav > li > a {
    float: none;
    padding: 15px 20px 15px;
    color: #97afc0;
    text-decoration: none;
    text-shadow: none;
    font-size: 12px;
    font-weight: bold;
}

.navbar .nav > li > a:hover {
    color: #393894;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    text-decoration: none;
    background-color: rgba(50, 50, 50, 0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #333;
    font-weight: 400;
    box-shadow: 0px -3px 0px rgba(50, 50, 50, 0.8) inset;
    font-weight: bold;
}

.fixed{
    position: fixed;
    bottom: -25px;
    height: 45px
}

footer{
    color: #fff;
    position: static;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(57, 56, 148, 1);
    border: 0px;
    box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.8) inset;
}
